/**
 * @package Helix Framework
 * @author Modulus Web Design  http://www.moduluswebdesign.com
 * @copyright Copyright (c) 2010 - 2014 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

@import 'variables';
@import 'mixins';


/* RTL Direction
 *=======================================*/

body {
 	&.rtl {

		#sp-top-bar .sp-module {
			margin: 0 20px 0 0;
		}

		//top address
		.sp-contact-info {
			float: left;
		}

		// lang switcher
		.sp-module-content .mod-languages ul.lang-inline li {
			margin: 0 0 0 5px;
		}


		//Offcanvas
		#offcanvas-toggler {
			float: left;
		}
		#offcanvas-toggler >i {
			padding: 0 10px 0 0;

		}
		.close-offcanvas {
			right: auto;
			left: 10px;
		}
		.offcanvas-menu {
			-webkit-transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), left 400ms cubic-bezier(0.7,0,0.3,1);
			transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), left 400ms cubic-bezier(0.7,0,0.3,1);
		}

		.body-innerwrapper:after {
			left: 0;
		}

		.offcanvas-menu {
			left: -280px;
		}

		&.offcanvas {
			.offcanvas-menu {
				left: 0;
			}
		}

		//mega menu
		.sp-megamenu-parent {
			float: left;
		}

		.sp-megamenu-parent >li.sp-has-child>a:after {
			display: none;
		}

		.sp-megamenu-parent >li.sp-has-child>a:before {
			content: " \f107";
			font-family: FontAwesome;
			margin-right: 5px;
		}

		.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
			float: left;
			content: " \f104";
		}

		//module
		.sp-module ul >li >a:before {
			margin-right: 0;
			margin-left: 8px;
			content: "\f104";
			float: right;
		}

		//blog
		.entry-header.has-post-format {
			margin-left: 0;
			margin-right: 68px;
		}
		.post-format {
			left: auto;
			right: -68px;
		}
		.article-info >dt >i, .article-info >dd >i {
			margin-right: 0;
			margin-left: 3px;
		}
		.entry-link:before {
			top:auto;
			left: auto;
			right: -60px;
			transform: rotate(-90deg);
		}
		.entry-quote:before {
			left: auto;
			transform: rotate(-15deg);
			top:auto;
			right: -40px;
		}
		.categories-list .page-header a.pull-right {
			float: left !important;
		}
		.newsfeed-category .category li .pull-left{
			float: right !important;
		}

		//search
		.search .btn-toolbar .pull-left{
			float: right !important;
		}
 	}
}