div#n2-ss-0 .n2-ss-layer .n2-font-1babee9c80a4777b1718b0fac9340116-hover{font-family: 'Roboto';color: #ffffff;font-size:225%;text-shadow: none;line-height: 1.5;font-weight: 600;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-ss-layer .n2-font-1babee9c80a4777b1718b0fac9340116-hover:HOVER, div#n2-ss-0 .n2-ss-layer .n2-font-1babee9c80a4777b1718b0fac9340116-hover:ACTIVE, div#n2-ss-0 .n2-ss-layer .n2-font-1babee9c80a4777b1718b0fac9340116-hover:FOCUS{}

div#n2-ss-0 .n2-style-a74c0e6a628a45a948d2957212c1ee6b-heading{background: #21212e;opacity:1;padding:20px 20px 20px 20px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}
div#n2-ss-0 .n2-style-a74c0e6a628a45a948d2957212c1ee6b-heading:Hover, div#n2-ss-0 .n2-style-a74c0e6a628a45a948d2957212c1ee6b-heading:ACTIVE, div#n2-ss-0 .n2-style-a74c0e6a628a45a948d2957212c1ee6b-heading:FOCUS{}

div#n2-ss-0 .n2-ss-layer .n2-font-1babee9c80a4777b1718b0fac9340116-hover{font-family: 'Roboto';color: #ffffff;font-size:225%;text-shadow: none;line-height: 1.5;font-weight: 600;font-style: normal;text-decoration: none;text-align: left;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-ss-layer .n2-font-1babee9c80a4777b1718b0fac9340116-hover:HOVER, div#n2-ss-0 .n2-ss-layer .n2-font-1babee9c80a4777b1718b0fac9340116-hover:ACTIVE, div#n2-ss-0 .n2-ss-layer .n2-font-1babee9c80a4777b1718b0fac9340116-hover:FOCUS{}

div#n2-ss-0 .n2-style-f546ff70ca9b07335528dee0028e5c89-heading{background: #21212e;opacity:1;padding:20px 20px 20px 20px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}
div#n2-ss-0 .n2-style-f546ff70ca9b07335528dee0028e5c89-heading:Hover, div#n2-ss-0 .n2-style-f546ff70ca9b07335528dee0028e5c89-heading:ACTIVE, div#n2-ss-0 .n2-style-f546ff70ca9b07335528dee0028e5c89-heading:FOCUS{}

