<?php
/* @var $this N2Layout */
if (intval(N2SmartSliderSettings::get('force-rtl-backend', 0))) {
    echo '<script>
    jQuery(document).ready(function(){
        jQuery( "html" ).attr("dir", "rtl");
    });
    </script>';
}

?>

    <div id="n2-admin" class="n2 <?php echo isset($class) ? $class : ''; ?>">

        <?php
        include(dirname(__FILE__) . DIRECTORY_SEPARATOR . '_mainmenu.php');
        ?>

        <div class="n2-table n2-table-fixed n2-content n2-sidebar-hidden">
            <div class="n2-tr">
                <div class="n2-td n2-content-base-bg n2-content-area n2-border-radius-br">
                    <!-- Begin Content -->
                    <?php
                    $this->renderFragmentBlock('nextend_content');
                    ?>
                    <!-- End Content -->
                </div>
            </div>
        </div>
        <?php
        N2Pluggable::doAction('afterApplicationContent');
        ?>
    </div>
<?php

N2Message::show();
$isPro = 1;

N2JS::addInline("new NextendExpertMode('smartslider', " . $isPro . ");");