body {
	font-size: 16px;
}
a {
  color: #BF1231;
}
a:hover {
  color: #bf5712;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #22b8f0;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #22b8f0;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #22b8f0;
}
#offcanvas-toggler {
	float: right;
	line-height: 120px;
	margin-right: 20px;
}
#offcanvas-toggler >i {
  color: #BF1231;
}
#offcanvas-toggler >i:hover {
  color: #22b8f0;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #0faae4;
  background-color: #22b8f0;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
ul.social-icons >li a:hover {
  color: #22b8f0;
}
.sp-page-title {
  background: #22b8f0;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #22b8f0;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #22b8f0;
}
.sp-module .tagscloud .tag-name:hover {
  background: #22b8f0;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #22b8f0;
}
.search .btn-toolbar button {
  background: #22b8f0;
}
.post-format {
  background: #22b8f0;
}
.voting-symbol span.star.active:before {
  color: #22b8f0;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #22b8f0;
}
blockquote {
  border-color: #22b8f0;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #22b8f0;
}
.sp-comingsoon body {
  background-color: #22b8f0;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #22b8f0;
  background-color: #22b8f0;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #22b8f0;
  background-color: #22b8f0;
}
#sp-header {
  background-color: #34333d;
}
.sp-megamenu-parent > li > a {
  color: #FFF;
}
.sp-megamenu-parent > li.active > a, .sp-megamenu-parent > li:hover > a {
  color: #b2223c;
}
section#sp-top1, section#sp-top2, section#sp-bottom1, section#sp-bottom2 {
  padding: 15px 0px;
}
footer#sp-footer {
  background-color: #34333d;
  padding: 50px 20px 0px 0px;
  margin-top:80px;
}
footer#sp-footer address {
  margin-top: 20px;
  line-height: 2em;
}
footer#sp-footer h4 {
  margin-bottom: 16px;
}
footer#sp-footer .acymailing_module {
  margin-top: 30px!important;
}
section#sp-sub-footer {
  padding: 0px 10px 0px 0px;
  text-align: center;
  background-color: #34333d;
  color: #FFF;
}
#fp-contactform {
  padding:100px 0px 70px 0px;
}

fieldset#rsform_3_page_0 .col-sm-6.formControls {
  width: 100%;
}
fieldset#rsform_3_page_0 input#Send {
  width: 100%;
  height: 53px;
}
body.itemid-169 footer#sp-footer {
  margin-top:0px;
}
body.itemid-169 section#sp-bottom2 {
  background-color: #f5f5f5;
}
.cbp-l-caption-body {
  background-color: #BF1231;
  color:#FFF;
}
body.itemid-169 #js-grid-slider-projects {
  margin: 80px 0px;
  }
.cbp-l-caption-body a {
  color: #FFF;
}
.cbp-l-caption-body a:active, .cbp-l-caption-body a:hover {
  color: #f5f5f5;
}
#sp-phone {
  padding: 0px;
}
#sp-phone p.phone {
  line-height: 120px;
  font-weight: bold;
  color: #FFF;
  margin: 0px;
}
body.itemid-167 .location {
	margin:1px;
	border-style:solid;
	border-color:#b2223c;
	border-radius:5px;
	border-width:1px;
	padding:20px;
}
#lz_chat_overlay_main, #lz_chat_overlay_main > div  {
	background-color: #BF1231!important;
}

.text-red {
	color:#BF1231;
}
div#sp-phone p.phone {
  font-size: 14px;
}