/**
 * sh404SEF - SEO extension for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2018
 * @package     sh404SEF
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     4.13.1.3756
 * @date		2017-12-22
 */

.sh404sef-popup #content-box {
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sh404sef-popup #toolbar-box {
  padding: 0;
  margin: 10px; 
}

.icon-48-sh404sef { background-image: url(../images/icon-48-sh404sef-logo.png); }
.icon-32-next { background-image: url(../images/icon-32-next.png); }
.icon-32-previous { background-image: url(../images/icon-32-previous.png); }
.icon-32-cancel { background-image: url(../images/icon-32-cancel-wizard.png); }
.icon-32-terminate { background-image: url(../images/icon-32-terminate.png); }


div.sh404sef-toolbar-title {
  font-size: 22px; font-weight: bold; color: #0B55C4; line-height: 48px;
  padding-left: 135px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

div.headerconfirm {
  font-size: 22px; font-weight: bold; color: #0B55C4; line-height: 48px;
  padding-left: 10px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.sh404sef-popup td.key {
  text-align: right;
}

.sh-ajax-loading { 
  background-image: url(../images/sh-ajax-loader-wide.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

#sh-message-box ul{
  color: #0055BB;
  background-position: 4px top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  border-top: 3px solid #84A7DB;
  border-bottom: 3px solid #84A7DB;
  background-color: #C3D2E5;
  background-image: url(../images/notice-info.png);
}

#sh-error-box ul{
  color: #c00;
  background-position: 4px top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  border-top: 3px solid #84A7DB;
  border-bottom: 3px solid #84A7DB;
  background-color: #E6C0C0;
  background-image: url(../images/notice-alert.png);
  border-color: #DE7A7B;
}
