form#application-secured-credit{
	margin: 2em auto;
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	fieldset{
		float: left;
		width: 100%;
		&.full{
			width: 100%;
		}
		&.eighty{
			width: 80%;
		}
		&.seventy{
			width: 70%;
		}
		&.otherthird{
			width: 66%;
		}
		&.half{
			width: 50%;
		}
		&.fourty{
			width: 40%;
		}
		&.thirtyfive{
			width: 35%;
		}
		&.third{
			width: 33.3%;
		}
		&.quarter{
			width: 25%;
		}
		&.quint{
			width: 20%;
		}
		&.six{
			width: 16.6%;
		}
		&.eight{
			width: 12.5%;
		}
		&.tenth{
			width: 10%;
		}
	}
	div{
		width: 100%;
		float: left;
	}
	.applicant-signature{
		width: 47.5%;
		margin-right: 5%;
	}
	.co-applicant-signature{
		width: 47.5%;
	}
	.row{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1em;
	}
	table{
		&.master{
			input[type="text"]{
				box-sizing: border-box;
				max-width: 100%;
				width: 95%;
			}
			width: 100%;
			table-layout:fixed;
			border: 2px solid black;
			tbody{
				
			}
			tr{
				table-layout:fixed;
				width: 100%;
			}
			td{
				vertical-align: top;
			}
			table{
				width: 95%;
				table-layout:fixed;
				tbody{
					td{
						display:inline-block;
						vertical-align: top;
					}
				}
			}
		}
	}
}