.home_boxes{
	.col-md-4{
		margin: 3em 0 5em;
		img{
			margin-bottom: 2.3em;
		}
		h4{
			color: #c12136;
			font-size: 17px;
		}
		p{
			font-size: 17px;
		}
		a{
			text-decoration: underline;
			color: #c12136;
			font-weight: bold;
			font-size: 17px;
		}
	}
}
.sp-module ul >li{
	border-bottom: 0;
}
.sp-megamenu-parent li.sp-menu-item{
	ul{
		display: none;
		position: absolute;
	    z-index: 2;
	    background-color: #34333c;
	    width: 150px;
	    list-style: none;
	    margin: 0;
	    padding: 17px 0;
	    li{
		    &:first-child{
			    margin-bottom: 0.3em;
		    }
		    a{
			    color: white;
			    font-size: 13px;
			    padding-left: 27px;
			    &:hover{
				    color: #b2223c;
			    }
		    }
	    }
	}
	&.children{
		&:hover{
			ul{
				display: block;
			}
		}
	}
}
.sp-megamenu-parent >li >a{
	padding: 0 25px !important;
	font-weight: 500;
}
@media (max-width: 991px){
	#sp-menu {
	    width: 85%;
	}
}
.sp-megamenu-parent{
	a{
		&.btn{
			color: #34333c;
		    background-color: #7fd0d9;
		    border-radius: 0;
		    height: 41px;
		    line-height: 41px;
		    font-weight: 500;
		    transition: color 400ms, background-color 400ms;
		    padding: 0 12px;
		    &:hover{
			    color: #7fd0d9;
			    background-color: #34333c;
		    }
		}
	}
}
.team_box{
	text-align: center;
	margin-bottom: 3em;
	img{
		max-width: 100%;
		height: auto;
		margin: 0 auto 1.1em;
	}
	h4{
		font-size: 19px;
	}
	p{
		line-height: 17px;
	}
	a{
		color: #a71b1b;
		font-weight: 500;
		font-size: 15px;
	}
}
.ribbon{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#sp-ribbon{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 2em;
	#sp-ribbon{
		background: transparent;
		margin-bottom: 0;
	}
	p{
		color: white;
		font-size: 32px;
		display: inline-block;
		font-weight: 400;
		padding: 2.1em 0 1em 14%;
		letter-spacing: 0.03em;
	}
}
body.itemid-278{
	#sp-component{
// 		width: 58.5%;
		padding-right: 41.5%;
		@media only screen and (max-width: 1199px) {
			padding-right: 35.5%;
		}
		@media only screen and (max-width: 991px) {
			padding-right: 0;	
		}
		display: inline-block;
		@media only screen and (max-width: 768px) {
			padding: 0;
		    width: 93%;
		    margin: 0 auto;
		    float: none;
		    clear: both;
		    display: block;

		}
	}
	#sp-main-body{
		padding: 25px 0;
		position: relative;
		&:after{
			content: url(../../../images/raq_img.jpg);
			position: absolute;
			top: 11%;
			right: 0;
			@media only screen and (max-width: 1199px) {
				width: 30%;
			}
			@media only screen and (max-width: 991px) {
				display: none;	
			}
		}
	}
	form{
		.rsform-block-intro, .rsform-block-warning{
			p{
				padding-left: 168px;
				@media only screen and (max-width: 768px) {
					padding-left: 0;	
					margin: 10px auto;
					width: 93%;
				}
			}
			span{
				padding-left: 168px;
			    display: inline-block;
			    margin: 1em 0 0.5em;
			    font-size: 14px;
			    display: block;
			    @media only screen and (max-width: 768px) {
					padding-left: 0;	
					margin: 10px auto;
					width: 93%;
				}
			}
		}
	}
}
body.itemid-168{
	#sp-main-body{
		padding: 25px 0;
	}
	#sp-right{
		position: relative;
		&:after{
			content: url(../../../images/contact_img.jpg);
		    position: absolute;
		    bottom: -155%;
		    left: 4%;
		    width: 100%;
			@media only screen and (max-width: 991px) {
				display: none;	
			}
		}
	}
	@media only screen and (max-width: 991px) {
		#sp-component{
			width: 100%;
		} 
		#sp-right{
			width: 100%;
		}
	}
}
#sp-footer{
	padding: 50px 25px;
}
footer{
	.box{
		background-color: #4b4c55;
		padding: 3.65em 0;
		p{
			color: white;
			font-size: 21px;
			width: 97%;
			margin: 0 auto;
			a{
				color: #34333c !important;
				text-decoration: none;
				background-color: #7fd0d9;
				font-weight: bold;
				font-size: 17px;
				padding: 17px 37px;
				display: inline-block;
				margin-top: 0.75em;
			}
		}
	}
}
@media only screen and (min-width: 992px) {
	.itemid-168 #sp-main-body, .itemid-278 #sp-main-body{
		min-height: 1000px;
	}
}