/**
 * Shlib - programming library
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier 2017
 * @package     shlib
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     0.3.1.659
 * @date        2017-12-22
 */

/*! Copyright Weeblr llc @_YEAR_@ - Licence: http://www.gnu.org/copyleft/gpl.html GNU/GPL */

/**
Default template css use a last-child selector for toolbar button
which prevents adding modal div and script in such buttons
Directly use a button.btn selector instead
*/
.btn-group > button.btn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/**
   replacement classes to modal css, to by-pass limitations in
   default J3 templates (max-width, max-height, iframe shadows
 **/
.shmodal-open .dropdown-menu {
	z-index: 2050;
}

.shmodal-open .dropdown.open {
	*z-index: 2050;
}

.shmodal-open .popover {
	z-index: 2060;
}

.shmodal-open .tooltip {
	z-index: 2080;
}

div.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}

div.modal-backdrop.fade {
	opacity: 0;
}

div.modal-backdrop,div.modal-backdrop.fade.in {
    opacity: 0.5;
}

div.shmodal {
	position: fixed;
    top: 50%;
	left: 50%;
	z-index: 1050;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

div.shmodal.fade {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
	top: -25%;
}

div.shmodal.fade.in {
	top: 50%;
}

.shmodal-header {
	border-bottom: 1px solid #eee;
    padding: 4px 8px;
}

.shmodal-header .close {
}

.shmodal-header h3 {
	margin: 0;
	line-height: 30px;
}

.shmodal-body {
	overflow-y: auto;
	/*max-height: 400px;*/
	padding: 15px;
}

.shmodal-form {
	margin-bottom: 0;
}

.shmodal-footer {
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	*zoom: 1;
}

.shmodal-footer:before,.shmodal-footer:after {
	display: table;
	content: "";
	line-height: 0;
}

.shmodal-footer:after {
	clear: both;
}

.shmodal-footer .btn+.btn {
	margin-left: 5px;
	margin-bottom: 0;
}

.shmodal-footer .btn-group .btn+.btn {
	margin-left: -1px;
}

/** overrides for non-modal classes */
.shmodal-body iframe {
	border: none;
	padding: 0;
	margin: 0;
	/* display block instead of inline, to avoid
extra space added at end of iframe */
	display: block;
}


