/* Separators */

label[id^="jform_attribs_separator_"] {
  	display: none !important;
}

.mmSeparator {
	box-sizing: border-box;
  	background: none repeat scroll 0 0 #e8f3f9;
  	color: #555;
  	margin: 10px 0 0;
  	padding: 5px;
	float: left;
	width: 100%;
	font-size: 12px;
}

.mmSeparator h3,
.mmSeparator h4 {
	margin: 0;
	padding: 5px;	
	font-weight: 400;
}

.mmSeparator h4 {
	font-size: 15px;	
}

/* Instance form */

label[id^="jform_joomla_type_spacer_"],
label[id^="jform_k2_type_spacer_"],
label[id^="jform_jomsocial_type_spacer_"] {
	font-size: 15px;
	font-weight: bold;
}

/* Menu item params */

label[id^="jform_params_spacer_"] {
	font-size: 15px;
	font-weight: bold;
}

/* Other */

.mn_separator {
	background: #e8f3f9;
	color: #555;	
	font-weight: 400;
	font-size: 15px;
	padding: 10px 12px;
	margin: 20px 0;
	display: inline-block;
}

/* General */

.com_faqbookpro .container-main {
	padding-bottom: 20px;	
}

.com_faqbookpro #system-message-container {
	padding: 0;
}

.com_faqbookpro #system-message-container .alert {
	margin: 0 -20px;
	border-radius: 0;	
}

.com_faqbookpro #system-message-container button.close {
	background: #0e5e86;
	color: #fff;
	margin-top: 10px;
	opacity: 0.8;
	border-radius: 50%;
	padding: 0;
	text-shadow: none;
	height: 22px;
	width: 22px;
	margin-top: 20px;
}

.com_faqbookpro #system-message-container button.close:hover {
	opacity: 1;	
}

.com_faqbookpro .header {
	display: none;	
}

.com_faqbookpro .subhead-collapse {
	display: none;	
}

.com_faqbookpro .btn-subhead {
	display: none;	
}

#mn-cpanel {
    margin: 0 -20px;
	font-family: 'Roboto', sans-serif;
}

#mn-cpanel .no-padding {
	padding: 0 !important;	
}

.com_faqbookpro.view-notifications .input-append {
	display: none;	
}

.com_faqbookpro.view-emailtemplate .page-content textarea {
	width: 95%;
}

/* Navbar */

#mn-cpanel .navbar {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#mn-cpanel .navbar .navbar-inner {
	background: rgb(16,112,150); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(16,112,150,1) 0%, rgba(14,94,134,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,112,150,1)), color-stop(100%,rgba(14,94,134,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(16,112,150,1) 0%,rgba(14,94,134,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(16,112,150,1) 0%,rgba(14,94,134,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(16,112,150,1) 0%,rgba(14,94,134,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(16,112,150,1) 0%,rgba(14,94,134,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107096', endColorstr='#0e5e86',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(255, 255, 255, 0.15) inset;
	border: 1px solid #111;
	border-left: 0;
	border-right: 0;
    border-radius: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

#mn-cpanel .brand-cont img {
	margin-right: 12px;
}

#mn-cpanel .navbar .brand {
    color: #fff;
    display: block;
	float: left;
    font-size: 20px;
    line-height: 50px;
    margin: 4px 0;
    padding: 0;
    text-shadow: 0 0 1px #000;
	outline: none;
}

@media (max-width: 690px) {
	#mn-cpanel .brand-cont {
		float: left;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.08);
		text-align: center;	
	}
	#mn-cpanel .container-fluid {
		padding: 0;	
	}
	#mn-cpanel .navbar .brand {
		font-size: 15px;
		float: none;
		display: inline-block;
	}
	#mn-cpanel #mn-version {
		float: none !important;	
		font-size: 12px !important;
		margin: 0 0 9px 7px !important;
	}
	#mn-cpanel #mn-version-info {
		float: none !important;	
		font-size: 12px !important;
		margin: 0 0 9px 7px !important;
	}
}


#mn-cpanel a {
    text-decoration: none;
}

#mn-cpanel a span.icon-link {
	font-size: 10px;	
}

#mn-cpanel #mn-version {
    font-size: 13px;
	line-height: 16px;
    float: left;
	margin: 20px 10px 0;
	text-shadow: none;
	font-weight: normal;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.1) inset;
}

#mn-cpanel #mn-version-info {
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin: 20px 0 0;
    text-align: center;
	padding: 0;
}

#mn-cpanel #mn-version-info i {
	width: 16px;
	height: 16px;	
}

#mn-cpanel #mn-version-info .btn {
	margin: 0;
	padding: 1px;
	border: 0;
}

#mn-cpanel #mn-version-info .btn:hover,
#mn-cpanel #mn-version-info .btn:focus {
	outline: none;	
}

#mn-cpanel #mn-version-info .modal-body .btn {
    border: 0 none;
    font-size: 15px;
    padding: 8px;	
}

#mn-cpanel #mn-version-info .modal {
	display: none;	
}

#mn-cpanel #mn-version-info .modal-body h3 {
	font-weight: 500;
	margin: 20px 0;	
}

/* Configuration button */

#mn-cpanel .configuration-cont {
	margin: 0;	
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	border-right: 1px solid rgba(255, 255, 255, 0.08);
}

#mn-cpanel .btn-configuration {
	height: 58px;
	line-height: 58px;	
	padding: 0 15px;
	border-right: 1px solid rgba(0, 0, 0, 0.08);
	border-left: 1px solid rgba(255, 255, 255, 0.08);
	display: inline-block;
	color: rgba(255,255,255,0.9);
	font-size: 13px;
}

#mn-cpanel .btn-configuration > i {
	margin: 0 10px 0 0;	
	font-size: 14px;
}

#mn-cpanel .btn-configuration > span {
	border-radius: 3px;	
}

#mn-cpanel .btn-configuration:hover,
#mn-cpanel .btn-configuration:focus {
	background: rgba(0, 0, 0, 0.08);
	color: #fff;
}

/* Main Container */

#mn-cpanel .main-container {
    padding: 0;
    position: relative;
}

#mn-cpanel .main-content {
    margin-left: 275px;
    margin-right: 0;
    margin-top: 0;
    min-height: 900px;
    padding: 0;
}

@media (max-width: 690px) {
	#mn-cpanel .main-content {
		margin-left: 55px;	
	}
}

/* Toolbar */

#mn-cpanel .main-content .btn-toolbar {
	margin-top: 6px;
	margin-bottom: 5px !important;	
}

#mn-cpanel .main-content .btn-toolbar .btn {
	background-image: none;
}

#mn-cpanel .main-content .btn-toolbar .btn:focus {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

#mn-cpanel #toolbar-apply .btn {
	width: 148px;
	transition: all 0.3s ease 0s;	
}

/* Section modals */

#toolbar-new-module {
	display: none;	
}

#newSectionModal {
	display: none;	
	overflow: hidden;
}

#newSectionModal .modal-header {
	background: #f5fafc;
	padding: 15px 20px;	
}

#newSectionModal .modal-header h3 {
	font-weight: 300;
	font-size: 20px;	
}

#newSectionModal .modal-body {
	padding: 20px 0;
	width: 100%;	
	font-size: 13px;
}

#newSectionModal .modal-body .page-content {
	padding-bottom: 0;	
	padding-top: 0;
}

#newSectionModal .modal-body .page-content .row-fluid {
	margin-bottom: 0;	
}

/* Section form toolbar */

#section-form .nav-tabs {
	border-top: 1px solid #c5dbe7;
	border-bottom: 1px solid #c5dbe7;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,244,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,244,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,244,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,244,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,244,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,244,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf4f7',GradientType=0 ); /* IE6-9 */
	margin: 0 -20px 35px;
}

#section-form .nav-tabs > li {
	margin: 0;	
	border-right: 1px solid #c5dbe7;
}

#section-form .nav-tabs > li a {
	border: 0;	
	border-radius: 0;
	padding: 12px 15px;
	margin: 0;
}

#section-form .nav-tabs > li.active a,
#section-form .nav-tabs > li a:hover,
#section-form .nav-tabs > li a:focus {
	background: #e8f3f9;
}

#section-form .nav-tabs > li.active a {
	box-shadow: 0 0 7px rgba(18, 66, 94, 0.1) inset;
}

/* Filter tools */

#mn-cpanel .main-content .js-stools {
	margin: 0 0 20px;	
}

#mn-cpanel .main-content .js-stools .btn {
	box-shadow: none;
}

#mn-cpanel .main-content .js-stools .btn:focus {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

#mn-cpanel .main-content .js-stools .chzn-single {
	box-shadow: none;
}	

/* Sidebar list */

#mn-cpanel .sidebar.menu-min:before {
    width: 50px;
}

#mn-cpanel .sidebar.menu-min {
    width: 50px;
}

#mn-cpanel .sidebar.menu-min .mn-sidebar-inner {
    width: 50px;
}

#mn-cpanel .sidebar.menu-min + .main-content {
    margin-left: 55px;
}

#mn-cpanel .sidebar {
    background-color: #1883bb;
	border-right: 5px solid #28a1d8;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 270px;
	padding: 0;
	z-index: 999;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

#mn-cpanel .sidebar .mn-sidebar-inner {
	width: 270px;	
}

#mn-cpanel .menu-toggler {
    display: none;
}

#mn-cpanel .nav-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#mn-cpanel .nav-list > li {
    border-bottom: 1px solid #277ab1;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

#mn-cpanel li {
    line-height: 20px;
}

#mn-cpanel li.search-choice {
}

#mn-cpanel li.empty-li {
	height: 38px;	
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03) inset;	
	background: rgba(0,0,0,0.03);
}

#mn-cpanel .nav-list > li > a,
#mn-cpanel .nav-list > li span.section-info {
    color: #fcfcfc;
    display: block;
    font-size: 13px;
    height: 38px;
    line-height: 36px;
    padding: 0 28px 0 10px;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	outline: none;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05) inset;
}

#mn-cpanel .nav-list > li > a:hover,
#mn-cpanel .nav-list > li > a:focus {
    background-color: rgba(255,255,255,0.1);
    color: #fcfcfc;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}

#mn-cpanel .nav-list > li.open > a,
#mn-cpanel .nav-list > li.open span.section-info {
	background-color: #28a1d8;
    color: #fcfcfc;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}

#mn-cpanel .menu-min .nav-list > li > a > .menu-text,
#mn-cpanel .menu-min .nav-list > li span.section-info .menu-text {
    display: none;
    font-weight: bold;
    height: 39px;
    left: 41px;
    line-height: 38px;
    padding-left: 12px;
    position: absolute;
    top: -2px;
    width: 158px;
    z-index: 121;
}

#mn-cpanel .nav-list > li > a > [class*="fa-"]:first-child,
#mn-cpanel .nav-list > li span.section-info [class*="fa-"]:first-child {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    min-width: 30px;
    text-align: center;
    vertical-align: baseline;
}

#mn-cpanel .nav-list > li a > .arrow {
    color: #fcfcfc;
    display: inline-block;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    position: absolute;
    right: 8px;
    text-shadow: none;
    top: 11px;
    width: 14px !important;
}

#mn-cpanel .menu-min .nav-list > li > a .arrow {
    display: none;
}

#mn-cpanel .menu-min .nav-list li .submenu { 
	left: 50px;	
	position: absolute;
	top: 0;
	width: 200px;
	display: none !important;
	padding: 35px 0 5px;
}

#mn-cpanel .menu-min .nav-list > li > .submenu li > a {
    margin-left: 0;
    padding-left: 30px;
}

#mn-cpanel .menu-min .nav-list > li > .submenu li > a .menu-text {
	padding-left: 0;
}

#mn-cpanel .menu-min .nav-list li:hover .submenu {
	display: block !important;
}

#mn-cpanel .menu-min .nav-list li:hover > a.dropdown-toggle > .menu-text {
	display: block;
	padding-left: 38px;
}

#mn-cpanel .nav-list > li > a, 
#mn-cpanel .nav-list .nav-header {
    margin: 0;
}

#mn-cpanel .nav > li > a {
    display: block;
}

#mn-cpanel .nav-list li .submenu {
    overflow: hidden;
}

#mn-cpanel .nav-list > li .submenu > li {
    margin-left: 0;
    position: relative;
}

#mn-cpanel .nav-list > li .submenu > li > a {
    color: #ecf0f1;
    display: block;
    margin: 0;
    padding: 7px 0 8px 37px;
    position: relative;
}

#mn-cpanel .nav-list > li .submenu > li > a i {
	display: none;
	position: absolute;
	left: 10px;
	top: 11px;
	font-size: 10px;
	color: #ecf0f1;
}

#mn-cpanel .nav-list > li .submenu > li > a:hover {
    color: #fff;
}

#mn-cpanel .nav-list > li .submenu > li > a:hover i {
	display: block;	
}

#mn-cpanel .nav-list > li .submenu {
    background-color: #28a1d8;
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

#mn-cpanel .nav-list > li .submenu li.active {
	background: rgba(255,255,255,0.2);	
}

#mn-cpanel .sidebar-collapse:before {
    content: "";
    display: inline-block;
    height: 0;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 13px;
}

#mn-cpanel .sidebar-collapse {
    border-bottom: 1px solid #277ab1;
    border-left: 4px solid rgba(255, 255, 255, 0);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05) inset;
    height: 38px;
    line-height: 36px;
    padding: 0 2px 0 12px;
    position: relative;
    text-align: right;
}

#mn-cpanel .sidebar-collapse:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
}

#mn-cpanel .menu-min .sidebar-collapse {
    padding: 0 5px;
    text-align: left;
}

#mn-cpanel .sidebar-collapse > [class*="fa-"] {
    color: #ecf0f1;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 38px;
    line-height: 36px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 32px;
}

/* Page header */

#mn-cpanel .page-header {
	margin-top: 0;
	margin-bottom: 20px;	
	border-bottom: 1px solid #e8f3f9;
	padding: 19px 20px 12px !important;
	background: #f5fafc;
}

#mn-cpanel .page-header h1 {
	font-weight: 300;
	font-size: 24px;
	margin: 0;	
	color: #333;
	text-shadow: none;
	padding-bottom: 10px;
}

/* Section header */

#mn-cpanel .section-content .page-header {
	margin: 0;	
	border-bottom: 1px solid #c5dbe7;
	display: none;
}

/* Page content */

#mn-cpanel .page-content {
    background: none repeat scroll 0 0 #fff;
    margin: 0;
    padding: 10px 20px 20px;
}

#mn-cpanel .section-content .page-content {
	padding: 0 20px 20px;
}

#mn-cpanel .page-content .span4 {
	width: 32.2%;	
}

#mn-cpanel .page-content .span3 {
	width: 23.725%;	
}

@media (max-width: 1220px) {
	#mn-cpanel .page-content .span2 {
		width: 32.6%;
		margin-bottom: 1.1%;
	}
	#mn-cpanel .page-content .span2:nth-child(4) {
		margin-left: 0 !important;	
	}
	#mn-cpanel .page-content .span6 {
		width: 100% !important;	
		margin-left: 0 !important;	
	}
}

@media (max-width: 800px) {
	#mn-cpanel .page-content .span2 {
		width: 49.45%;
		float: left;
	}
	#mn-cpanel .page-content .span2:nth-child(3) {
		margin-left: 0 !important;	
	}
	#mn-cpanel .page-content .span2:nth-child(4) {
		margin-left: 1.1% !important;	
	}
	#mn-cpanel .page-content .span2:nth-child(5) {
		margin-left: 0 !important;	
	}
}

@media (max-width: 590px) {
	#mn-cpanel .page-content .span2,
	#mn-cpanel .page-content .span2:nth-child(4) {
		width: 100%;
		margin-bottom: 1.1%;
		margin-left: 0 !important;	
	}
}

#mn-cpanel .page-content .span6 {
	width: 49.15%;	
}

#mn-cpanel .page-content .row-fluid [class*="span"]:first-child {
	margin-left: 0;	
}

#mn-cpanel .page-content .row-fluid [class*="span"] {
	margin-left: 1.7%;	
} 

#mn-cpanel .mn-dashboard .row-fluid {
	margin-bottom: 1.7%;	
}

#mn-cpanel .mn-dashboard .thumbnail,
#mn-cpanel #mn-version-info .thumbnail {
	border: 0;
	border-radius: 0;
	padding: 0;
	text-shadow: none;
	white-space: normal;
	text-align: center;
	background: #e8f3f9;
	box-shadow: none;
}

#mn-cpanel .mn-dashboard .thumbnail {
	display: inline-block;
	margin: 10px;	
}

#mn-cpanel #mn-version-info .thumbnail {
	padding: 50px 20px;	
	display: block;
}

#mn-cpanel .mn-dashboard .thumbnail a {
	display: inline-block;
	height: 100%;
	width: 100%;
	box-sizing: border-box;	
	padding: 20px 20px 10px;
}

#mn-cpanel .mn-dashboard .thumbnail a:hover {
	background: #28a1d8;	
	color: #fff;
	text-shadow: none;
}

#mn-cpanel .mn-dashboard .thumbnail .fa {
	font-size: 42px;	
	display: inline-block;
	margin: 0;
	line-height: 1;
	color: #9bb7c6;
	text-shadow: 0 1px 0 #fff;
}

#mn-cpanel .mn-dashboard .thumbnail a:hover .fa {
	color: #fff;
	text-shadow: none;
}

#mn-cpanel .mn-dashboard .thumbnail-title {
	margin: 30px 0 15px;	
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	display: inline-block;
	width: 100%;
}

#mn-cpanel .page-content .span2 > a:hover {
	opacity: 0.9;
}

/* Tables */

#mn-cpanel .table-striped tbody > tr:nth-child(2n+1) > td, 
#mn-cpanel .table-striped tbody > tr:nth-child(2n+1) > th {
	background: #f5fafc;	
}

.table td .red {
	color: red;	
	font-size: 15px;
}

.table td .green {
	color: green;	
	font-size: 15px;
}

/* Dashboard modules */

.thumbnail.mn-dashboard-panel {
	padding: 0;
	margin: 20px 0 0;	
}

.mn-dashboard-panel-heading {
	background-color: #f5f5f5;
	color: #333;
	padding: 10px 15px;
	font-size: 14px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	border-bottom: 1px solid #ddd;
}

.mn-dashboard-panel-body {
	padding: 15px 15px;
	background-color: #fff;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	overflow-x: auto;
}

.mn-dashboard-panel-body table {
	margin-bottom: 0;	
}

.mn-dashboard-panel-body hr {
	margin-top: 0;
	border-color: #ddd;
	border-bottom: 0;	
}

/* Collapse */

#mn-cpanel .panel {
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	overflow: hidden;
}

#mn-cpanel .panel .panel-title {
	margin: 0;
	padding: 10px 15px;	
	background: #f5fafc;
	font-weight: 400;
}

#mn-cpanel .panel .panel-title a {
	color: #555;	
}

#mn-cpanel .panel .panel-body {
	border-top: 1px solid #ddd;
	padding: 10px 15px;
}

/* Topic section disabled */

#jform_section_id_chzn.section-disabled .chzn-single {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: none;
	cursor: default;
	opacity: 0.6;
	background: #eee;
}

#jform_section_id_chzn.section-disabled .chzn-single div b {
	background: none;	
}

/* Email Template */

.view-emailtemplate .page-content form pre {
	display: inline-block;	
}