/*********************************************************

 - Minitek Wall ™ -

General - Stylesheet

version:   	3.2+
date:      	05/10/2015
author:		Minitek.gr
website:   	http://www.minitek.gr

**********************************************************/

/* /////////////////////////////////////// */
/* General */
/* /////////////////////////////////////// */

.mnwall_container {
	display: none;	
}

.mnwall_container .clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

.mnwall_container .clearfix:after {
    clear: both;
}

.mnwall_container .clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

.mnwall_container .text-center {
	text-align: center;	
}

.mnwall_container {
	padding: 0;	
}

.mnwall_iso_container {
	margin-top: 0;
	margin-bottom: 0;	
	overflow: hidden;
	transition: height 0.3s ease 0s;
}

.mnwall-item-clear {
	clear: both;	
}

.mnwall-item-outer-cont {
	box-sizing: border-box;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.mnwall-item-inner {
	max-height: 100%;
}

.mnwall-item-separator {
    border-color: #777;
    border-style: solid;
    border-width: 2px 0 0;
    clear: both;
    color: transparent;
    display: inline-block;
    float: none;
    font-size: 6px;
    font-weight: 300;
    line-height: 7px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

/* /////////////////////////////////////// */
/* Append Results Loader & Button
/* /////////////////////////////////////// */

.mnwall_more_results {
    padding: 0;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    vertical-align: baseline;
	margin: 25px 0 30px;
}

.mnwall_more_results a {
	vertical-align: top;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
	border: 1px solid #d7d7d7;	
    display: inline-block;
    padding: 8px 14px;
    text-decoration: none;
	line-height: 26px;
	font-size: 14px;
	min-width: 100px;
}

.mnwall_more_results a.mnwall-reset-btn {
	display: none;	
}

.mnwall_more_results a.more-results.mnwall-loading  {
	background: rgba(247, 247, 247, 0.75) !important;
	border: 1px solid #d7d7d7 !important;	
}

.mnwall_more_results a.more-results:hover,
.mnwall_more_results a.mnwall-reset-btn:hover {
	background: rgba(247, 247, 247, 0.75) !important;
	border: 1px solid #d7d7d7 !important;
	text-decoration: none;
	outline: none;
	color: #777 !important;
}

.mnwall_more_results a:hover,
.mnwall_more_results a:focus {
	text-decoration: none;
	outline: none;	
}

.mnwall_more_results a.more-results span.no-results,
.mnwall_more_results a.more-results-pre span.no-results {
	display: none;	
}

.mnwall_more_results a.disabled,
.mnwall_more_results a.disabled:hover,
.mnwall_more_results a.disabled:focus {
	opacity: 0.8;
	cursor: default;
}

.mnwall_append_loader {
	display: none;	
	line-height: 26px;
	height: 26px;
}

.mas_loader {
	position: relative;	
}

/* /////////////////////////////////////// */
/* Pagination arrows */
/* /////////////////////////////////////// */

.mnwall_arrows {
	text-align: center;	
	margin: 25px 0 30px;
}

.mnwall_arrow {
	display: inline-block;
}

.mnwall_arrows .mnwall-reset-btn {
	display: none;	
}

.mnwall_arrow,
.mnwall_arrows .mnwall-reset-btn {
	padding: 8px 12px;
	border: 1px solid #ddd;
	border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
	margin: 0 2px;
	text-decoration: none;
	outline: none;	
	color: #777;
	background: #fff;
	vertical-align: top;
	line-height: 20px;
	font-size: 16px;
}

.mnwall_arrow:hover,
.mnwall_arrows .mnwall-reset-btn:hover {
	background: rgba(247, 247, 247, 0.75) !important;
	border: 1px solid #d7d7d7 !important;
	text-decoration: none;
	outline: none;
	color: #777 !important;
}

.mnwall_arrow:focus,
.mnwall_arrows .mnwall-reset-btn:focus {
	text-decoration: none;
	outline: none;	
}

.mnwall_arrow.mnwall-loading  {
	background: rgba(247, 247, 247, 0.75) !important;
	border: 1px solid #d7d7d7 !important;	
}

.mnwall_arrow .more-results {
	display: inline-block;
	min-width: 16px;	
	line-height: 20px;
	vertical-align: top;
}

.mnwall_arrow.disabled,
.mnwall_arrow.disabled:hover,
.mnwall_arrow.disabled:focus {
	opacity: 0.75;
	cursor: default;
}

.mnwall_arrow_loader {
	display: none;	
	line-height: 20px;
	height: 20px;
	min-width: 16px;
}

/* /////////////////////////////////////// */
/* Pagination pages */
/* /////////////////////////////////////// */

.mnwall_pages {
	text-align: center;	
	margin: 25px 0 30px;
}

.mnwall_page {
	display: inline-block;
}

.mnwall_pages .mnwall-reset-btn {
	display: none;	
}

.mnwall_page,
.mnwall_pages .mnwall-reset-btn {
	padding: 8px 12px;
	border: 1px solid #ddd;
	border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
	margin: 0 2px;
	text-decoration: none;
	outline: none;	
	color: #777;
	background: #fff;
	vertical-align: top;
	line-height: 20px;
}

.mnwall_page:hover,
.mnwall_page:focus,
.mnwall_pages .mnwall-reset-btn:hover,
.mnwall_pages .mnwall-reset-btn:focus {
	outline: none;
	text-decoration: none;	
	color: #333;
}

.mnwall_pages .mnwall-reset-btn:hover {
	background: rgba(247, 247, 247, 0.75) !important;
	border: 1px solid #d7d7d7 !important;
	text-decoration: none;
	outline: none;
	color: #777 !important;
}

.mnwall_page .page-number {
	display: inline-block;
	min-width: 16px;	
	line-height: 16px;
	vertical-align: middle;
}

.mnwall_page_loader {
	display: none;	
	line-height: 20px;
	height: 20px;
	min-width: 16px;
}

/* /////////////////////////////////////// */
/* Filters buttons */
/* /////////////////////////////////////// */

.mnwall_filters_sortings {
	margin: 5px 0 15px;	
}

.mnwall_iso_filters_cont,
.mnwall_iso_reset_cont {
	padding: 0;
	position: relative;
	display: inline-block;
	margin: 10px 0 0;
	text-align: left;
}

.mnwall_filters_loader {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0;
	width: 100%;
	background: rgba(255,255,255,0.7);
	z-index: 999;
	text-align: center;
}

.mnwall_filters_loader img {
	top: 6px;
	position: relative;	
}

.mnwall_iso_filters,
.mnwall_iso_reset {
	position: relative;	
	display: inline-block;
	vertical-align: top;
}

.mnwall_iso_reset .btn-reset {
	background: #fff;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
	border: 1px solid #d7d7d7;
	line-height: 31px;
	height: 33px;
	padding: 0 12px;
	color: #777;
	margin-bottom: 10px;
}

.mnwall_iso_reset .btn-reset:hover,
.mnwall_iso_reset .btn-reset:focus {
	outline: none;	
}

.mnwall_iso_reset .btn-reset:focus {
	background: #fff;	
}

.mnwall_iso_buttons {
	margin-bottom: 8px;
	margin-right: 20px;
	position: relative;
}	

.mnwall_iso_buttons ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;	
}

.mnwall_iso_buttons ul li {
	display: inline-block;	
}

.mnwall_iso_buttons a {
	padding: 0 12px;
	display: inline-block;
	line-height: 31px;
	height: 33px;
	border: 1px solid #ddd;
	margin: 0 2px 5px;
	text-decoration: none;
	outline: none;	
	color: #777;
	background: #ffffff;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
}

.mnwall_iso_buttons a:hover, 
.mnwall_iso_buttons a:focus {
	outline: none;
	text-decoration: none;
	color: #444;
}

.mnwall_iso_buttons a.mnw_filter_active {
}

.mnwall_iso_buttons > span {
	padding: 0 7px;	
	color: #777;
	display: inline-block;
	line-height: 33px;
}

.mnwall_iso_filters .button-group {
	display: inline-block;
}

.mnwall_iso_buttons a.mnw_filter_active {
	color: #fff;
}

.mnwall_iso_reset .btn-reset:hover,
.mnwall_iso_reset .btn-reset:focus {
	color: #fff ;
}

/* /////////////////////////////////////// */
/* Filters list */
/* /////////////////////////////////////// */

.mnwall_iso_dropdown {
	position: relative;	
	min-width: 170px;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 10px 0;
	text-align: left;
}

.mnwall_iso_dropdown.expanded ul {
	max-height: 180px;
    opacity: 1;
    transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.mnwall_iso_dropdown ul {
	background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #d7d7d7;
	border-top: 0;
    border-radius: 0 0 3px 3px;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
	border-radius: 0 0 3px 3px;
	position: absolute;
}

.mnwall_iso_dropdown ul.button-group {
	z-index: 999;
}

.mnwall_iso_dropdown ul.sorting-group {
	z-index: 998;
}

.mnwall_iso_dropdown ul li {
	margin: 0;
	padding: 0;	
	list-style: none;
	background: none;
}

.mnwall_iso_dropdown ul li a {
	font-size: 14px;
	line-height: 14px;
	display: block;	
	padding: 8px 10px;
	color: #666;
}

.mnwall_iso_dropdown ul li a:hover {
	background: #f5f5f5;
	text-decoration: none;
}	

.mnwall_iso_dropdown ul li a:focus {
	text-decoration: none;
	outline: none;
}

.mnwall_iso_dropdown ul li a.mnw_filter_active {
	background: #f5f5f5;	
}

.mnwall_iso_dropdown .dropdown-label {
	background: #ffffff;
	border: 1px solid #d7d7d7;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset;
	margin: 0;
	height: 33px;
	padding: 0;
	vertical-align: middle;
	width: 100%;
	cursor: pointer;
	color: #777;
}

.mnwall_iso_dropdown:hover .dropdown-label {
	background: #fff;
}
		
.mnwall_iso_dropdown.expanded .dropdown-label {
	color: #fff;
}

.mnwall_iso_dropdown.expanded:hover .dropdown-label {
	color: #fff !important;
}

.mnwall_iso_dropdown .dropdown-label span {
	display: inline-block;
	line-height: 31px;
	font-size: 14px;
	width: 100%;	
}

.mnwall_iso_dropdown .dropdown-label span i {
	margin: 0 7px;	
}

/* /////////////////////////////////////// */
/* Sortings buttons */
/* /////////////////////////////////////// */

.mnwall_iso_sortings_cont {
	padding: 0;
	position: relative;
	display: inline-block;
	margin: 10px 0 0;
	text-align: left;
}

.mnwall_iso_sortings {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.mnwall_iso_sortings .sorting-group {
	display: inline-block;
}

/* /////////////////////////////////////// */
/* Wall items
/* /////////////////////////////////////// */		

.mnwall-item {
	overflow: hidden;
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	cursor: default;
}

.mnwall-item-inner-cont {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.mnwall-item-inner {
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	overflow: hidden;
	position: absolute;
}

.mnwall-cover {
	position: relative;
	overflow: hidden;	
}

.mnwall-masonry .mnwall-photo-link {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	overflow: hidden;
}

/* /////////////////////////////////////// */
/* Items - Hidden Classes                  */
/* /////////////////////////////////////// */

.mnwall-item .db-hidden {
	display: none;
}

.mnwall-item .title-hidden .mnwall-title {
	display: none;
}

.mnwall-item .introtext-hidden .mnwall-desc {
	display: none;
}

.mnwall-item .date-hidden .mnwall-date {
	display: none;
}

.mnwall-item .category-hidden .mnwall-item-category {
	display: none;
}

.mnwall-item .location-hidden .mnwall-item-location {
	display: none;
}

.mnwall-item .type-hidden .mnwall-item-type {
	display: none;
}

.mnwall-item .author-hidden .mnwall-item-author {
	display: none;
}

.mnwall-item .price-hidden .mnwall-price {
	display: none;
}

.mnwall-item .hits-hidden .mnwall-hits {
	display: none;
}

.mnwall-item .count-hidden .mnwall-count {
	display: none;
}

.mnwall-item .readmore-hidden .mnwall-readmore {
	display: none;
}

/* /////////////////////////////////////// */
/* Items - Typography / Text Colors        */
/* /////////////////////////////////////// */

/* Typography */

h3.mnwall-title {
	line-height: 24px;
	margin: 0;
	padding: 10px 15px 0;
}

h3.mnwall-title a, 
h3.mnwall-title span {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	word-wrap: break-word;
}

h3.mnwall-title a:hover,
h3.mnwall-title a:focus {
	text-decoration: none;
	outline: none;
}

.mnwall-big .mnwall-item-inner h3.mnwall-title a, 
.mnwall-big .mnwall-item-inner h3.mnwall-title span {
	font-size: 28px;
	line-height: 32px;
}

.mnwall-horizontal .mnwall-item-inner h3.mnwall-title a,
.mnwall-horizontal .mnwall-item-inner h3.mnwall-title span {
	font-size: 20px;
	line-height: 24px;
}

.mnwall-s-desc,
.mnwall-desc {	
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;	
	padding: 8px 15px 15px;	
}

.mnwall-desc img {
	max-width: 100%;	
}

.mnwall-date {
	text-transform: uppercase;
	padding: 10px 15px 0;
	font-size: 12px;	
}

.mnwall-item-info {
	padding: 8px 15px;	
	font-size: 12px;
}

.mnwall-item-info a {
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;	
}

.mnwall-item-category,
.mnwall-item-location,
.mnwall-item-type,
.mnwall-item-author {
	margin: 0 0 2px	
}

.mnwall-item-info a:hover,
.mnwall-item-info a:focus {
	text-decoration: none;	
}

.mnwall-price,
.mnwall-hits,
.mnwall-count {
	font-size: 12px;	
	padding: 0 15px;
}

.mnwall-price {
	margin: 0 0 10px;	
	font-size: 18px;
}

.mnwall-hits p,
.mnwall-count p {
	margin: 0 0 2px;	
}

.mnwall-readmore {
	font-size: 12px;
	padding: 0 15px 15px;	
	margin: 10px 0 0;	
}

.mnwall-readmore a {
	padding: 8px 15px;
	border-radius: 0;
	background: none;
	display: inline-block;	
}

.mnwall-readmore a:hover,
.mnwall-readmore a:focus {
	outline: none;
	text-decoration: none;	
}

/* Dark Colors */

.dark-text h3.mnwall-title a,
.dark-text h3.mnwall-title span {
	color: #333;	
}

.dark-text h3.mnwall-title a:hover,
.dark-text h3.mnwall-title a:focus {
	color: #000;	
}

.dark-text .mnwall-item-info {
	color: #555;
}

.dark-text .mnwall-item-info a {
	color: #555;
}

.dark-text .mnwall-item-info a:hover,
.dark-text .mnwall-item-info a:focus {
	color: #333;	
	border-bottom: 1px dotted #333;
}

.dark-text .mnwall-s-desc,
.dark-text .mnwall-desc,
.dark-text .mnwall-price,
.dark-text .mnwall-hits,
.dark-text .mnwall-count {	
	color: #555;
}

.dark-text .mnwall-date {
	color: #666;
}

.dark-text .mnwall-item-separator {
	border-color: #777;
}

.dark-text .mnwall-readmore a {
	color: #555;
	border: 1px solid #777;	
}

.dark-text .mnwall-readmore a:hover,
.dark-text .mnwall-readmore a:focus {
	color: #000;
	border: 1px solid #111;	
}

/* Light Colors */

.light-text h3.mnwall-title a,
.light-text h3.mnwall-title span {
	color: rgba(255,255,255,0.9);
}

.light-text h3.mnwall-title a:hover,
.light-text h3.mnwall-title a:focus {
	color: #fff;
}

.light-text .mnwall-item-info {
	color: rgba(255,255,255,0.7);
}

.light-text .mnwall-item-info a {
	color: rgba(255,255,255,0.8);
}

.light-text .mnwall-item-info a:hover,
.light-text .mnwall-item-info a:focus {
	color: #fff;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
}

.light-text .mnwall-s-desc,
.light-text .mnwall-desc,
.light-text .mnwall-price,
.light-text .mnwall-hits,
.light-text .mnwall-count {	
	color: rgba(255,255,255,0.8);
}

.light-text .mnwall-date {
	color: rgba(255,255,255,0.7);
}

.light-text .mnwall-item-separator {
	border-color: rgba(255,255,255,0.7);	
}

.light-text .mnwall-readmore a {
	color: rgba(255,255,255,0.7);
	border: 1px solid rgba(255,255,255,0.7);	
}

.light-text .mnwall-readmore a:hover,
.light-text .mnwall-readmore a:focus {
	color: #fff;
	border: 1px solid #fff;	
}

/* /////////////////////////////////////// */
/* Hover Box
/* /////////////////////////////////////// */		

.mnwall-hover-box {
	cursor: default;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	z-index: 4;
}

.mnwall-hover-box-content {
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	top: 0;
	padding: 10px;
    top: 50%;
    -webkit-transform: translateY(-51%);
	-ms-transform: translateY(-51%);
	transform: translateY(-51%);
}

/* /////////////////////////////////////// */
/* Hover Box Typography
/* /////////////////////////////////////// */		

.mnwall-hover-box h3.mnwall-item-title a,
.mnwall-hover-box h3.mnwall-item-title span {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.mnwall-hover-box h3.mnwall-item-title a:hover,
.mnwall-hover-box h3.mnwall-item-title a:focus {
	text-decoration: none;
	outline: none;
}

.mnwall-hover-box-content,
.mnwall-hover-box-content span {
	font-size: 12px;
	line-height: 18px;
}

.mnwall-hover-box-content a:hover,
.mnwall-hover-box-content a:focus {
	text-decoration: none;
	outline: none;
}

.mnwall-hover-box-content h3.mnwall-title {
	margin: 0 0 12px;	
}

.mnwall-hover-box-content h3.mnwall-title a,
.mnwall-hover-box-content h3.mnwall-title span {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.mnwall-hover-box-content h3.mnwall-title a:hover,
.mnwall-hover-box-content h3.mnwall-title a:focus {
	text-decoration: none;
	outline: none;
}

.mnwall-hover-box-content .mnwall-price {
	margin: 0 0 10px;	
}

.mnwall-hover-box-content .mnwall-price span {
	font-size: 18px;
}

.mnwall-hover-box-content .mnwall-item-info,
.mnwall-hover-box-content .mnwall-hits,
.mnwall-hover-box-content .mnwall-date {
}

.mnwall-hover-box-content .mnwall-hits p {
	margin: 0;	
}

.mnwall-hover-box-content .mnwall-item-info a {
}

.mnwall-hover-box-content .mnwall-item-info a:hover,
.mnwall-hover-box-content .mnwall-item-info a:focus {
}

.mnwall-hover-box-content .mnwall-s-desc,
.mnwall-hover-box-content .mnwall-desc {	
}

.mnwall-hover-box-content .mnwall-item-link-icon,
.mnwall-hover-box-content .mnwall-item-lightbox-icon {
	display: inline-block;
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	border-radius: 50%;
	vertical-align: middle;
	line-height: 40px;
	padding: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
}

.mnwall-hover-box-content .mnwall-item-link-icon:hover,
.mnwall-hover-box-content .mnwall-item-link-icon:focus,
.mnwall-hover-box-content .mnwall-item-lightbox-icon:hover,
.mnwall-hover-box-content .mnwall-item-lightbox-icon:focus {
	background: #fff;
	color: #333;
}

.mnwall-hover-box-content .mnwall-item-link-icon .fa-link,
.mnwall-hover-box-content .mnwall-item-lightbox-icon .fa-link {
	height: 40px;
	width: 40px;
	line-height: 40px;
}

.mnwall-hover-box-content .mnwall-item-icons {
	padding: 8px 0;	
}

/* /////////////////////////////////////// */
/* Hover Box Effects - Animations
/* /////////////////////////////////////// */	

/* Simple, no effects */

.mnwall-hover-box.hoverShow {
	visibility: visible;	
	opacity: 1;
}

/* Simple fade */

.mnwall-hover-box.hoverFadeIn {
	visibility: visible;
	opacity: 1;	
}

/* Flip Y */

.mnwall-img-div.flip,
.mnwall-item-outer-cont.flip {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	overflow: visible !important;
}
.mnwall-img-div.flip .mnwall-item-img,
.mnwall-item-outer-cont.flip .mnwall-item-img {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
}
.mnwall-img-div.flip .mnwall-hover-box,
.mnwall-item-outer-cont.flip .mnwall-hover-box {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	opacity: 1;
	visibility: visible;
	z-index: 98;
}
.mnwall-img-div.flipY .mnwall-hover-box,
.mnwall-item-outer-cont.flipY .mnwall-hover-box {
	transform: rotateY(-180deg) translateZ(1px);
	-webkit-transform: rotateY(-180deg) translateZ(1px);
	-ms-transform: rotateY(-180deg) translateZ(1px);
	-o-transform: rotateY(-180deg) translateZ(1px);
}
.mnwall-img-div.hoverFlipY,
.mnwall-item-outer-cont.hoverFlipY {
	transform: rotateY(180deg) translateZ(1px);
	-webkit-transform: rotateY(180deg) translateZ(1px);
	-ms-transform: rotateY(180deg) translateZ(1px);
	-o-transform: rotateY(180deg) translateZ(1px);
}
.mnwall-cover.perspective,
.mnwall-item.perspective {
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-ms-perspective: 1000px;
	-o-perspective: 1000px;
}

/* Flip X */

.mnwall-img-div.flipX .mnwall-hover-box,
.mnwall-item-outer-cont.flipX .mnwall-hover-box {
	transform: rotateX(-180deg) translateZ(1px);
	-webkit-transform: rotateX(-180deg) translateZ(1px);
	-ms-transform: rotateX(-180deg) translateZ(1px);
	-o-transform: rotateX(-180deg) translateZ(1px);
}
.mnwall-img-div.hoverFlipX,
.mnwall-item-outer-cont.hoverFlipX {
	transform: rotateX(180deg) translateZ(1px);	
	-webkit-transform: rotateX(180deg) translateZ(1px);	
	-ms-transform: rotateX(180deg) translateZ(1px);	
	-o-transform: rotateX(180deg) translateZ(1px);	
}

/* Slide In Right */

.mnwall-cover.slideInRight .mnwall-hover-box.slideInRight,
.mnwall-item.slideInRight .mnwall-hover-box.slideInRight {
 	right: 0;
}

.mnwall-cover.slideInRight .mnwall-hover-box,
.mnwall-item.slideInRight .mnwall-hover-box {
	right: -100%;
	left: auto;
	visibility: visible;
	opacity: 1;		
}

/* Slide In Left */

.mnwall-cover.slideInLeft .mnwall-hover-box.slideInLeft,
.mnwall-item.slideInLeft .mnwall-hover-box.slideInLeft {
 	left: 0;
}

.mnwall-cover.slideInLeft .mnwall-hover-box,
.mnwall-item.slideInLeft .mnwall-hover-box {
	left: -100%;
	right: auto;
	visibility: visible;
	opacity: 1;		
}

/* Slide In Top */

.mnwall-cover.slideInTop .mnwall-hover-box.slideInTop,
.mnwall-item.slideInTop .mnwall-hover-box.slideInTop {
 	top: 0;
}

.mnwall-cover.slideInTop .mnwall-hover-box,
.mnwall-item.slideInTop .mnwall-hover-box {
	top: -100%;
	bottom: auto;
	visibility: visible;
	opacity: 1;		
}

/* Slide In Bottom */

.mnwall-cover.slideInBottom .mnwall-hover-box.slideInBottom,
.mnwall-item.slideInBottom .mnwall-hover-box.slideInBottom {
 	bottom: 0;
}

.mnwall-cover.slideInBottom .mnwall-hover-box,
.mnwall-item.slideInBottom .mnwall-hover-box {
	bottom: -100%;
	top: auto;
	visibility: visible;
	opacity: 1;		
}

/* Zoom in */

.mnwall-cover.mnwzoomIn .mnwall-hover-box.mnwzoomIn,
.mnwall-item.mnwzoomIn .mnwall-hover-box.mnwzoomIn {
 	transform: scale(1,1);
	visibility: visible;
	opacity: 1;	
}

.mnwall-cover.mnwzoomIn .mnwall-hover-box,
.mnwall-item.mnwzoomIn .mnwall-hover-box {
	transform: scale(0,0);	
}

/* /////////////////////////////////////// */
/* Detail box / Image / Hover positions
/* /////////////////////////////////////// */		

/* Detail box positions */

.mnwall-masonry .mnwall-item-outer-cont.content-left .mnwall-item-inner {
	bottom: 0;
	left: 0;
	top: 0;
	width: 50%;
}
.mnwall-masonry .mnwall-item-outer-cont.content-right .mnwall-item-inner {
	bottom: 0;
	right: 0;
	top: 0;
	width: 50%;
}
.mnwall-masonry .mnwall-item-outer-cont.content-top .mnwall-item-inner {
	right: 0;
	left: 0;
	top: 0;
	height: 50%;
}
.mnwall-masonry .mnwall-item-outer-cont.content-bottom .mnwall-item-inner {
	right: 0;
	left: 0;
	bottom: 0;
	height: 50%;
}
.mnwall-masonry .mnwall-item-outer-cont.content-cover .mnwall-item-inner {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.mnwall-masonry .mnwall-item-inner.mnw-no-image {
	width: 100% !important;
	height: 100% !important;	
}

/* Image positions */

.mnwall-masonry .half-size.content-left .mnwall-photo-link {
	right: 0;
	left: auto;
	top: 0;
	bottom: 0;
	width: 50%;
}
.mnwall-masonry .half-size.content-right .mnwall-photo-link {
	left: 0;
	right: auto;
	top: 0;
	bottom: 0;
	width: 50%;
}
.mnwall-masonry .half-size.content-top .mnwall-photo-link {
	right: 0;
	left: 0;
	top: auto;
	bottom: 0;
	height: 50%;
}
.mnwall-masonry .half-size.content-bottom .mnwall-photo-link {
	right: 0;
	left: 0;
	bottom: auto;
	top: 0;
	height: 50%;
}

.mnwall-masonry .content-cover .mnwall-photo-link,
.mnwall-masonry .mnw-no-content .mnwall-photo-link {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

/* Hover box positions */

/*.mnwall-big .half-size .mnwall-hover-box {
	left: auto;
	width: 50%;
}
.mnwall-horizontal .half-size .mnwall-hover-box {
	left: auto;
	width: 50%;
}
.mnwall-vertical .half-size .mnwall-hover-box {
	bottom: auto;
	height: 50%;
}*/

/* /////////////////////////////////////// */
/* Wall items - Masonry / General
/* /////////////////////////////////////// */		

.mnwall-masonry .mnwall-item-inner {
	position: absolute;
	padding: 10px;
	max-height: 100%;
	width: 100%;
	height: 100%;
}

/* /////////////////////////////////////// */
/* Masonry - Item default heights
/* /////////////////////////////////////// */

.mnwall-big {
	height: 480px;	
}

.mnwall-horizontal {
	height: 240px;	
}

.mnwall-vertical {
	height: 480px;	
}

.mnwall-small {
	height: 240px;	
}

/* /////////////////////////////////////// */
/* Masonry - Grid 1 */
/* /////////////////////////////////////// */

.mnwall-grid1 .mnwitem1 {
	width: 100%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 3a */
/* /////////////////////////////////////// */

.mnwall-grid3a .mnwitem1 {
	width: 50%;
}
.mnwall-grid3a .mnwitem2 {
	width: 50%;
}
.mnwall-grid3a .mnwitem3 {
	width: 50%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 3b */
/* /////////////////////////////////////// */

.mnwall-grid3b .mnwitem1 {
	width: 50%;
}
.mnwall-grid3b .mnwitem2 {
	width: 50%;
}
.mnwall-grid3b .mnwitem3 {
	width: 50%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 3c */
/* /////////////////////////////////////// */

.mnwall-grid3c .mnwitem1 {
	width: 50%;
}
.mnwall-grid3c .mnwitem2 {
	width: 25%;
}
.mnwall-grid3c .mnwitem3 {
	width: 25%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 4 */
/* /////////////////////////////////////// */

.mnwall-grid4 .mnwitem1 {
	width: 50%;
}
.mnwall-grid4 .mnwitem2 {
	width: 50%;
}
.mnwall-grid4 .mnwitem3 {
	width: 25%;
}
.mnwall-grid4 .mnwitem4 {
	width: 25%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 5 */
/* /////////////////////////////////////// */

.mnwall-grid5 .mnwitem1 {
	width: 40%;
}
.mnwall-grid5 .mnwitem2 {
	width: 20%;
}
.mnwall-grid5 .mnwitem3 {
	width: 40%;
}
.mnwall-grid5 .mnwitem4 {
	width: 20%;
}
.mnwall-grid5 .mnwitem5 {
	width: 40%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 5b */
/* /////////////////////////////////////// */

.mnwall-grid5b .mnwitem1 {
	width: 25%;
}
.mnwall-grid5b .mnwitem2 {
	width: 25%;
}
.mnwall-grid5b .mnwitem3 {
	width: 50%;
}
.mnwall-grid5b .mnwitem4 {
	width: 25%;
}
.mnwall-grid5b .mnwitem5 {
	width: 25%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 6 */
/* /////////////////////////////////////// */

.mnwall-grid6 .mnwitem1 {
	width: 40%;
}
.mnwall-grid6 .mnwitem2 {
	width: 20%;
}
.mnwall-grid6 .mnwitem3 {
	width: 40%;
}
.mnwall-grid6 .mnwitem4 {
	width: 20%;
}
.mnwall-grid6 .mnwitem5 {
	width: 20%;
}
.mnwall-grid6 .mnwitem6 {
	width: 20%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 7 */
/* /////////////////////////////////////// */

.mnwall-grid7 .mnwitem1 {
	width: 50%;
}
.mnwall-grid7 .mnwitem2 {
	width: 50%;
}
.mnwall-grid7 .mnwitem3 {
	width: 25%;
}
.mnwall-grid7 .mnwitem4 {
	width: 25%;
}
.mnwall-grid7 .mnwitem5 {
	width: 25%;
}
.mnwall-grid7 .mnwitem6 {
	width: 25%;
}
.mnwall-grid7 .mnwitem7 {
	width: 25%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 8 */
/* /////////////////////////////////////// */

.mnwall-grid8 .mnwitem1 {
	width: 40%;
}
.mnwall-grid8 .mnwitem2 {
	width: 40%;
}
.mnwall-grid8 .mnwitem3 {
	width: 20%;
}
.mnwall-grid8 .mnwitem4 {
	width: 20%;
}
.mnwall-grid8 .mnwitem5 {
	width: 20%;
}
.mnwall-grid8 .mnwitem6 {
	width: 20%;
}
.mnwall-grid8 .mnwitem7 {
	width: 40%;
}
.mnwall-grid8 .mnwitem8 {
	width: 40%;
}

/* /////////////////////////////////////// */
/* Masonry - Grid 9 */
/* /////////////////////////////////////// */

.mnwall-grid9 .mnwitem1 {
	width: 50%;
}
.mnwall-grid9 .mnwitem2 {
	width: 50%;
}
.mnwall-grid9 .mnwitem3 {
	width: 25%;
}
.mnwall-grid9 .mnwitem4 {
	width: 25%;
}
.mnwall-grid9 .mnwitem5 {
	width: 25%;
}
.mnwall-grid9 .mnwitem6 {
	width: 25%;
}
.mnwall-grid9 .mnwitem7 {
	width: 25%;
}
.mnwall-grid9 .mnwitem8 {
	width: 25%;
}
.mnwall-grid9 .mnwitem9 {
	width: 25%;
}

/* /////////////////////////////////////// */
/* Rows - Grid 9 */
/* /////////////////////////////////////// */

.mnwall-grid9r .mnwitem1 {
	width: 33.33%;
}
.mnwall-grid9r .mnwitem2 {
	width: 33.33%;
}
.mnwall-grid9r .mnwitem3 {
	width: 33.33%;
}
.mnwall-grid9r .mnwitem4 {
	width: 50%;
}
.mnwall-grid9r .mnwitem5 {
	width: 50%;
}
.mnwall-grid9r .mnwitem6 {
	width: 25%;
}
.mnwall-grid9r .mnwitem7 {
	width: 25%;
}
.mnwall-grid9r .mnwitem8 {
	width: 25%;
}
.mnwall-grid9r .mnwitem9 {
	width: 25%;
}

/* /////////////////////////////////////// */
/* Rows - Grid 11 */
/* /////////////////////////////////////// */

.mnwall-grid11r .mnwitem1 {
	width: 50%;
}
.mnwall-grid11r .mnwitem2 {
	width: 50%;
}
.mnwall-grid11r .mnwitem3 {
	width: 33.33%;
}
.mnwall-grid11r .mnwitem4 {
	width: 33.33%;
}
.mnwall-grid11r .mnwitem5 {
	width: 33.33%;
}
.mnwall-grid11r .mnwitem6 {
	width: 50%;
}
.mnwall-grid11r .mnwitem7 {
	width: 50%;
}
.mnwall-grid11r .mnwitem8 {
	width: 50%;
}
.mnwall-grid11r .mnwitem9 {
	width: 50%;
}
.mnwall-grid11r .mnwitem10 {
	width: 50%;
}
.mnwall-grid11r .mnwitem11 {
	width: 50%;
}

/* /////////////////////////////////////// */
/* Rows - Grid 12 */
/* /////////////////////////////////////// */

.mnwall-grid12r .mnwitem1 {
	width: 25%;
}
.mnwall-grid12r .mnwitem2 {
	width: 25%;
}
.mnwall-grid12r .mnwitem3 {
	width: 25%;
}
.mnwall-grid12r .mnwitem4 {
	width: 25%;
}
.mnwall-grid12r .mnwitem5 {
	width: 20%;
}
.mnwall-grid12r .mnwitem6 {
	width: 20%;
}
.mnwall-grid12r .mnwitem7 {
	width: 20%;
}
.mnwall-grid12r .mnwitem8 {
	width: 20%;
}
.mnwall-grid12r .mnwitem9 {
	width: 20%;
}
.mnwall-grid12r .mnwitem10 {
	width: 33.33%;
}
.mnwall-grid12r .mnwitem11 {
	width: 33.33%;
}
.mnwall-grid12r .mnwitem12 {
	width: 33.33%;
}

/* /////////////////////////////////////// */
/* Rows - Grid 16 */
/* /////////////////////////////////////// */

.mnwall-grid16r .mnwitem1 {
	width: 40%;
}
.mnwall-grid16r .mnwitem2 {
	width: 20%;
}
.mnwall-grid16r .mnwitem3 {
	width: 20%;
}
.mnwall-grid16r .mnwitem4 {
	width: 20%;
}
.mnwall-grid16r .mnwitem5 {
	width: 40%;
}
.mnwall-grid16r .mnwitem6 {
	width: 20%;
}
.mnwall-grid16r .mnwitem7 {
	width: 40%;
}
.mnwall-grid16r .mnwitem8 {
	width: 20%;
}
.mnwall-grid16r .mnwitem9 {
	width: 20%;
}
.mnwall-grid16r .mnwitem10 {
	width: 20%;
}
.mnwall-grid16r .mnwitem11 {
	width: 20%;
}
.mnwall-grid16r .mnwitem12 {
	width: 20%;
}
.mnwall-grid16r .mnwitem13 {
	width: 20%;
}
.mnwall-grid16r .mnwitem14 {
	width: 20%;
}
.mnwall-grid16r .mnwitem15 {
	width: 40%;
}
.mnwall-grid16r .mnwitem16 {
	width: 20%;
}

/* /////////////////////////////////////// */
/* Wall items - Masonry Columns
/* /////////////////////////////////////// */		

.mnwall-columns .mnwall-item {	
}

.mnwall-columns .mnwall-item-inner-cont {
	padding: 0;
}

.mnwall-columns .mnwall-img-div {
	position: relative;
	overflow: hidden;
}
		
.mnwall-columns .mnwall-photo-link {
	z-index: 1;
	display: block;
	width: 100%;
}

.mnwall-columns .mnwall-photo-link img {
	width: 100%;
	max-width: 100%;	
}

.mnwall-columns .mnwall-item-inner {
	padding: 10px 0;
	position: relative;
	z-index: 2;
}

.mnwall-columns .content-bottom .mnwall-item-inner {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 100%;	
}

.mnwall-columns .content-cover .mnwall-item-inner {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;	
}

/* /////////////////////////////////////// */
/* Wall items - Vertical List
/* /////////////////////////////////////// */		

.mnwall-list .mnwall-item {
	width: 100%;
}

.mnwall-list .mnwall-item-inner-cont {
	padding: 0;
}

.mnwall-list .mnwall-item-inner {
	position: relative;
	padding: 0 10px;
}

.mnwall-list .mnwall-cover {
	float: left;
	margin: 0;	
	max-width: 50%;
}

.mnwall-list .mnwall-img-div img {
	width: 100%;
	max-width: 100%;
}

